
    <h2>Edit your page</h2>
    <div class="row">
      <div class="col-md-2">
        Row style
      </div>
      <div class="col-md-8" style="text-align: center;">
        Row components
      </div>
      <div class="col-md-2" style="text-align: center;">
        Add Component
      </div>
    </div> 
    <div id="rows" class="cont">
        <app-row *ngFor="let row of rows" [row]="row"></app-row>
    </div>
    <br>
    <button type="button" class="btn btn-info" (click)="addRow()">
      Add Row
    </button>
    <button type="button" class="btn btn-primary" (click)="exportState()">
        Export state
    </button>
      
