<div class="container-fluid">
  
	<h1>HTML generator</h1>
	<p>We will represent the webpage as a list of rows, each row can have only 1 format (paragaraph, Heading 1, etc.). Multiple components can be add per row (e.g. text, image, video, link, etc.) and reordered by dragging and dropping them in the desired order. <br>
		Each row initially formatted as a “paragraph”. To change the format of the row (line), change the format from the dropdown list on the left of the row to the desired format (e.g. heading 1). The user can insert an image in the row by clicking the add button then choose the image block. To set the attributes of the image such as its source, width and length, a dialog is opened to fill these attributes. The same goes with the other elements. To edit or delete a block use their corresponding edit and delete buttons located at the top right of each component.</p>
	<div class="row">
		<div class="col-md-6">
			<app-page-view></app-page-view>
		</div>
    
		<div class="col-md-6">
			 <app-html-code (htmlChanged)="htmlChanged($event)"></app-html-code>
		</div>
	</div>
	<div class="row">
		<h2>Preview:</h2>
		<br>
		<div class="row prev" [innerHtml] = "html">

		</div>
	</div>
</div>