<div class="row">
    <div class="col-md-2">
      <select class="form-control" name="rowStyle" [(ngModel)]="rowStyle" (change)="styleChanged()">
        <option value="p">p</option>
        <option value="h1">h1</option>
        <option value="h2">h2</option>
        <option value="h3">h3</option>
      </select>
    </div>
    <div class="col-md-8">
        <app-html *ngFor= "let c of row.components" [component]="c" [row]="row"></app-html>
    </div>
    <div class="col-md-2">
        <select class="form-control" name="componentToAdd" [(ngModel)]="componentToAdd" (change)="addComponent()">
            <option value="+">+</option>
            <option value="Image">Image</option>
            <option value="Text">Text</option>
            <option value="Link">Link</option>
            <option value="Audio">Audio</option>
        </select>
    </div>
  </div> 